@import "~@angular/material/prebuilt-themes/indigo-pink.css";

.success-snackbar {
  background-color: #4caf50;
}

.error-snackbar {
  background-color: #f44336;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
